@model RazorPagesSample.UI.ViewComponents.ChooseColorViewComponent

<div class="col-6 offset-3">
    <select class="custom-select" asp-for="@Model.SelectedColor" asp-items="@Model.Items">
        
    </select>

</div>