@page
@model TestViewComponentsModel
@{
    ViewData["Title"] = "TestViewComponents";
}

<h1>TestViewComponents</h1>
<form method="post">
    <vc:choose-color>
        
    </vc:choose-color>    
    <button type="submit">
        Submit
    </button>
</form>

